<div class="container">
    <div style="width: 1110px;">
        <img src="assets/d’Perfumewhite.png" alt="Image Description" class="img-fluid" style="max-width: 100%; margin-top: 8px; margin-bottom: 8px;">
        <div style="float: right; margin-top: 16px; margin-bottom: 16px;">
            <p class="words" style="vertical-align: middle; display: inline-block; color: white;">© 2020. All Rights Reserved.</p>
            <button style="margin-left: 504px;" class="hide-on-small-screen">Product</button>
            <button class="hide-on-small-screen">Blog</button>
            <button class="hide-on-small-screen">Contact</button>
        </div>
    </div>
</div>