<div class="container">
  <div class="container position-relative" style="height: 600px; overflow: hidden; margin: 0; position: absolute; background-image: url('assets/subscribe.jpg'); background-size: cover; background-position: center;">
    <div class="block" style="position: relative; left: 21%; top: 312px; width: 350px;">
      <h2>記得訂閱</h2><br>
      <h2>訂閱以獲取更多資訊！</h2>
      <mat-form-field>
        <mat-label>Your email address</mat-label>
        <input matInput>
      </mat-form-field>
      <button class="btn">Subscribe</button>
    </div>
  </div>
</div>

<div style="display: flex; flex-wrap: wrap; justify-content: center; background-color: #916000;">
  <div class="bar-container">
    <img src="assets/d’Perfumewhite.png" alt="Image Description" style="display: inline-block;">
    <p style="display: inline-block;">© 2020. All Rights Reserved.</p>
    <div style="float: right;">
        <button>Product</button>
        <button>Blog</button>
        <button>Contact</button>
    </div>
  </div>
</div>


