<div class="container">
    <div class="position-relative">
      <img src="assets/subscribe.jpg" alt="Image Description" class="img-fluid position-relative top-0 start-0" style="max-width: 100%;">
      <div class="position-absolute top-50 start-50">
        <h2>記得訂閱</h2><br>
        <h2>訂閱以獲取更多資訊！</h2>
        <button class="btn">Shop now</button>
      </div>
    </div>
  </div>

<div class="bar-container">
  <div>
    <img src="assets/d’Perfumewhite.png" alt="Image Description" class="img-fluid" style="max-width: 100%;">
    <div style="float: right;" class="hide-on-small-screen">
        <p>© 2020. All Rights Reserved.</p>
        <button>Product</button>
        <button>Blog</button>
        <button>Contact</button>
    </div>
  </div>
</div>
