button {
    background-color: white; 
    border: none;
    color: gray;
    padding: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 4px;
  }

  .card:hover {
    box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  }
button:hover {
    border-bottom:2px solid #916000;
}

  

@media only screen and (max-width: 600px) {
  .hide-on-small-screen {
      display: none;
      flex: 0 0 100%
  }
  .container {
      flex: 0 0 100%;
      width: 555px;
  }
}

@media only screen and (min-width: 600px) {
        .show-on-small-screen {
            display: none;
            flex: 0 0 100%
        }
        .container {
        flex: 0 0 100%;
        /* width: 555px; */
    }
    }

/* reasons here */
.container {
    max-width: 1110px;
    max-height: 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
} 





