<div class="container">
    <div style="width: 1110px;">
        <img src="assets/1.png" alt="Image Description" class="img-fluid" style="max-width: 100%; margin-top: 8px; margin-bottom: 8px;">
        <div style="float: right; margin-top: 16px; margin-bottom: 16px;" class="hide-on-small-screen">
            <button><i class="fa-solid fa-shop"></i> Product</button>
            <button><i class="fa-solid fa-user"></i> log in</button>
            <button><i class="fa-solid fa-heart"></i> Wishlist</button>
            <button><i class="fa-solid fa-cart-shopping"></i> Cart(3)</button>
        </div>
        
        
        <div style="float: right; margin-top: 16px; margin-bottom: 16px;">
            <button class="show-on-small-screen"><i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-3" style="background: #916000 0% 0% no-repeat padding-box;
                border-radius: 7px;
                opacity: 1;"></i></button>
            <button mat-button [matMenuTriggerFor]="menu" class="show-on-small-screen"><i class="fas fa-bars"></i></button>
        </div>
    </div>
    
    <mat-menu #menu="matMenu" style="display: flex;">
        <button mat-menu-item>Product</button>
        <button mat-menu-item>WishList</button>
        <button mat-menu-item>Blog</button>
        <button mat-menu-item>Contact</button>
        <button mat-menu-item>log in</button>
    </mat-menu>
</div>





