<div class="container">
    <div class="image-container">
      <img src="assets/index4.jpg" alt="Image Description">
    </div>
    <div class="text-container">
      <h2>1.</h2>
      <h2>{{perfumedatas[3].headers[0]}}</h2>
      <p>{{perfumedatas[3].content[0]}}</p>
      <h2>2.</h2>
      <h2>{{perfumedatas[3].headers[1]}}</h2>
      <p>{{perfumedatas[3].content[1]}}</p>
      <h2>3.</h2>
      <h2>{{perfumedatas[3].headers[2]}}</h2>
      <p>{{perfumedatas[3].content[2]}}</p>
      <button>Plan a free online training</button>
    </div>
  </div>