<div class="container">
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Edit name">
        </div>
        <div class="form-group">
            <label for="contry">Country</label>
            <input type="text" class="form-control" formControlName="country" placeholder="Edit country">
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" formControlName="salary" placeholder="Edit salary">
        </div>
        <div class="form-group">
            <label for="userName">Email</label>
            <input type="string" class="form-control" formControlName="email" placeholder="Edit email">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addNewItem(this.memberForm.value)">Save change</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
    </form>
</div>



