<div class="container">
    <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName">名稱</label>
            <input type="text" class="form-control" formControlName="userName">
        </div>
        <div class="form-group">
            <label for="contry">國家</label>
            <input type="text" class="form-control" formControlName="country">
        </div>
        <div class="form-group">
            <label for="salary">薪水</label>
            <input type="number" class="form-control" formControlName="salary">
        </div>
        <div class="form-group">
            <label for="userName">Email</label>
            <input type="string" class="form-control" formControlName="email">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addNewItem(this.memberForm.value)">Save change</button>
        <button type="cancel" class="btn btn-primary">Cancel</button>
    </form>
</div>



