<div class="container">
    <div>
        <ng-content></ng-content>
    </div>
    <!-- 表單 -->
    <form [formGroup]="memberForm">
        <div class="form-group">
            <label for="userName">Name</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Edit name">
            <div *ngIf="memberForm.controls['userName']?.touched">
                <mat-error>
                    {{showErrorMessage('userName', 'name')}}
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" formControlName="country" placeholder="Edit country">
            <div *ngIf="memberForm.controls['country']?.touched">
                <mat-error>
                    {{showErrorMessage('country', 'user country')}}
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="number" class="form-control" formControlName="salary" placeholder="Edit salary">
            <div *ngIf="memberForm.controls['salary']?.touched">
                <mat-error>
                    {{showErrorMessage('salary', 'salary')}}
                </mat-error>
            </div>
        </div>
        <div class="form-group">
            <label for="userName">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Edit email">
            <div *ngIf="memberForm.controls['email']?.touched">
                <mat-error>
                    {{showErrorMessage('email', 'email')}}
                </mat-error>
            </div>
        </div>
        <!-- 按鈕 -->
        <button type="button" class="btn btn-primary" (click)="addNewItem(this.memberForm.value)" [disabled]="memberForm.invalid"><i class="fa-solid fa-pen"></i> Save change</button>
        <button type="button" class="btn btn-primary" (click)="onButtonClick()">Cancel</button>
    </form>
</div>






