<app-bar></app-bar>

<div class="container">
  <div class="image-container position-relative" style="height: 870px; overflow: hidden; margin: 0; position: absolute; background-image: url('assets/banner.jpg'); background-size: cover; background-position: center;">
    <div class="block" style="position: relative; left: 56%; top: 295px;"> 
      <h2>Perfume your day</h2>
      <p>A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
      <button class="btn button1">Shop now</button>
    </div>
  </div>
</div>

<app-middle [header]="perfumedatas[0].headers[0]" [content]="perfumedatas[0].content[0]" [imageUrl]="perfumedatas[0].imageUrl" [imagepos]="right"></app-middle>
<app-middle [header]="perfumedatas[1].headers[0]" [content]="perfumedatas[1].content[0]" [imageUrl]="perfumedatas[1].imageUrl" [imagepos]="left"></app-middle>
<app-middle [header]="perfumedatas[2].headers[0]" [content]="perfumedatas[2].content[0]" [imageUrl]="perfumedatas[2].imageUrl" [imagepos]="right"></app-middle>
<app-long></app-long>
<app-card></app-card>
<app-bottle></app-bottle>
<app-footer></app-footer>
<app-footerbar></app-footerbar>