.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 1110px;
}

.text-container {
  flex: 1 1 50%; 
  text-align: left;
  /* padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px; */

  padding-top: 166.5px;
  padding-right: 102.5px;
  padding-bottom: 166.5px;
  padding-left: 102.5px;
  align-items: left;

  /* display: flex;
  flex-direction: column;
  justify-content: center;  */


  /* answers */
  width: 555px;
  height: 555px;
  margin: none;
  
}

.image-container {
  flex: 1 1 50%; 
  padding: none;
  text-align: left;

  /* answers */
  width: 555px;
  height: 555px;
  padding: none !important;
}

img {
  max-width: 100%;
  height: 555px;
}

@media only screen and (max-width: 1110px) {
  .container {
    flex-direction: column; 
    flex: 0 0 100%;
    align-items: center;
    padding: 0;
      
  }

  .text-container,
  .image-container {
      flex: 0 0 100%; 
      object-fit: cover;
      padding: 0;
      margin: 0;
  }


  .image-container {
    order: 1;
  }

  .text-container {
    order: 2;
  }

  p {
    font-size: 16px
  }
  
}

button {
  background-color: white; 
  border: none;
  color: #AC8A46;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin-left: 0; */
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px
}

