<ng-container *ngIf="imagepos=='right'; else template2">
  <div class="container">
    <div class="text-container">
      <h2>{{header}}</h2>
      <p>{{content}}</p>
      <ng-content></ng-content>
      <button>查看更多</button>
    </div>
    <div class="image-container">
      <img src={{imageUrl}} alt="Image Description">
    </div>
  </div>

</ng-container>

<ng-template #template2>
  <div class="container">
    <div class="image-container">
      <img src={{imageUrl}} alt="Image Description">
    </div>
    <div class="text-container">
      <h2>{{header}}</h2>
      <p>{{content}}</p>
      <ng-content></ng-content>
      <button>查看更多</button>
    </div>
  </div>
</ng-template>