<!-- <div class="container">
    <div class="text-container text-center">
      <h2>{{header}}</h2>
      <p>{{content}}</p>
    </div>
    <div class="image-container">
      <img src={{imageUrl}} alt="Image Description">
    </div>
  </div> -->


  <ng-container *ngIf="imagepos=='right'; else template2">
    <div class="container">
      <div class="text-container text-center">
        <h2>{{header}}</h2>
        <p>{{content}}</p>
      </div>
      <div class="image-container">
        <img src={{imageUrl}} alt="Image Description">
      </div>
    </div>
  </ng-container>
  
  <ng-template #template2>
    <div class="container">
      <div class="image-container">
        <img src={{imageUrl}} alt="Image Description">
      </div>
      <div class="text-container text-center">
        <h2>{{header}}</h2>
        <p>{{content}}</p>
      </div>
    </div>
  </ng-template>